# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Unit test / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/

# Jupyter
.ipynb_checkpoints/

# Mypy / type checking
.mypy_cache/
.dmypy.json

# PyInstaller
*.manifest
*.spec

# ======================
# PyCharm / JetBrains
# ======================
.idea/
*.iml

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db

app/backend/data/
